/Anagrams.class
/ArmstrongNumber.class
/DecimalNumberReversal.class
/IfElse.class
/Lists.class
/NumberReversal.class
/Pangram.class
/PrimeNumberChecker.class
/ProductMaximizer.class
/SmallestCommonMultiple.class
/Student.class
/WordCheck.class
/WordFinder.class
/WordOccurence.class
/WordReversal.class
